.calendar-container{
    background-color: #1F2327;
    height: 2000px;
    /* height: 100%; */
    
}

.calendar-nav{
    width: 100px;
    height: 100%;
    background: #32393F;
    color: #B8C5D3;
    font-size: 25px;
  }

  .calendar-nav li{
    margin: 30px 0;
    cursor: pointer;
  }


  .calendar-div{
      margin: 50px 0 0 20px;
      width: 900px;
      /* border: 1px solid white; */
  }

  .new-post{
      width: 100px;
      height: 45px;
      background-color: #B8C5D3;
      color: #32393F;
      border-radius:7px;
    }

    .div-post{
        margin: 30px;
    }
    
    .div-post img{
        padding: 0 6px 0 0;
    }

    .div-wekks{
        margin: 0 0 30px 0;
        color: #B8C5D3;
        font-size: 35px
    }
      

    .div-days{
        width: 110px;
        height: 100px;
        background-color: #32393F;
        border-radius: 5px;
        font-size: 25px;
        /* border: 1px solid white; */
        margin: 9px;
        
    }

    .status-post{
        width: 700px;
        /* border: 1px solid white; */
        margin: 15px 0 0px 10px;
    }

    .status-post h2{
        margin-bottom: 10px;
    }

    .status-post div {
        margin: 0 70px 10px 0 ;
    }

    .ico-general{
        border-radius: 8px;
        width: 40px;
        height: 40px;
    }
    
    .border-ico{
        border:2px solid #65798C;
        
    }

    .ico-color-1{
        background-color: #65798C;
       
    }
    .force-width{
        width: 55px ;
    }

    .ico-color-2{
        background-color: #32393F;
         width: 55px;  
        
    }

    .ico-color-3{
        background-color: #B8C5D3;
        width: 55px;
    }


    hr{
        background-color: #65798C;
    }





    /* *********************STYLE POSTS *************************/

    .post-container{
        width: 100%
    
    }
    
    .post-container div{
        margin-bottom: 30px;
    }
    .font-monht{
        font-size: 40px;
        color: #B8C5D3;
        margin-bottom: 30px;

    }
    .post-card{
        width: 200px;
        height: 220px;
        /* border: 1px solid white; */
        margin: 12px 25px 0 0 ;
    }

    .background-card  {
        background: #32393F;

    }

  


    /* *************************************8 STYLE NEW POSTS ***************************8 */

    .container-newPost{
        width: 100%;
        /* margin-left: 80px; */
    }

    .div-newPost{
        width: 100%;
        height: 90px;
        background-color:#32393F;
        color: #B8C5D3;
        font-size: 40px
    }
    .div-newPost h2{
        margin: 35px;
    }


    .div-information{
        border: 1px solid white ;
        height: 100%;
        width: 100%

    }
 

    .div-typePost {
        width: 40%;
        height: 700px;
        /* border: 1px solid white; */
        padding: 20px;
        /* margin: 30px 0 0 30px;  */


    }
    
    @media (max-width: 600px){
        .div-typePost {
            width: 400px;
            height: 700px;
            padding: 20px;
        }
    }
 

    .div-preview{
        border: 1px solid white;
        width: 40%;
        height: 600px;
        /* margin: 30px 30px 0 0; */
    }
    
    .preview-Info{
        height: 450px;
        width: 96%;
        border: 1px solid white;
        /* margin-left: 2.5em; */
    }


    .preview-bar{
        background: #32393F;
        height: 50px;
        border-radius: 0 0 25px 25px;
    }


    .button-post{
        border: 1px solid white;
        border-radius: 7px;
        width: 200px;
        height: 40px;
        background-color: transparent;
        position: absolute;
        bottom: 100px;
        right: 800px; 

    }

    .title-post{
        font-size: 20px;
        margin: 30px 0 30px 0;
    }
    
    .color-fontPost{
        color: #B8C5D3;
        
    }


    input {
        background-color: #5D646B;
        width: 300px;
        height: 40px;
        border-radius: 10px;
        border: none;
        margin: 10px !important;
    }
    

    textarea{
        background: transparent;
        /* border: none; */
        width: 100%;
        height: 100px;

    }
    
 