.sidebar{
  height: 100%;
  background-color: #000000;
  width: 50px;
  position: fixed;
}

.menu {
  align-content: center;
}

.menu-end {
  align-content: center;
  padding-bottom: 300px
}
.item-menu {
  padding-top: 10px;
  padding-bottom: 6px;
  border-bottom: solid 1px;
  width: fit-content;
}

.item-menu-end {
  padding-top: 10px;
  padding-bottom: 6px;
  width: fit-content;
}

.link-menu {
  text-decoration: none;
  color: #B8C5D3;
  font-size: 20px;
}
