body {
  margin: 0;
  font-family: "Helvetica";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inputTransparente {
  size: auto;
  border: none;
  background: transparent;
  color: white;
  width: 100%;
  font-size: 16px;
  padding-bottom: 10px;
  padding-left: 2px;
  border-bottom:1px solid white;
}

.inputTransparente:focus{
  outline: none !important;
  border-bottom:1px solid white;
  -webkit-transition: border-bottom ease-in-out .15s;
  -o-transition: border-bottom ease-in-out .15s;
  transition: border-bottom ease-in-out .15s;
}

.inputTransparente::placeholder{
  color: #B8C5D3;
}

.inputTransparente:-webkit-autofill,
.inputTransparente:-webkit-autofill:hover,
.inputTransparente:-webkit-autofill:focus,
.inputTransparente:-webkit-autofill:active {
    transition: background 5000s ease-in-out 0s;
    -webkit-text-fill-color: #B8C5D3;
}


/* DASHBOARD */
.dashboard-container{
  background-color: #32393F;
  height: 1000px;

}

.dashboard-nav{
  position: fixed;
  width: 60px;
  height: 100%;
  background: #1F2327;
  text-align: center;

}

.dashboard-nav li{
  margin: .4em 0;
  padding: 10px 0;

}

.dashboard-nav li img {
  cursor: pointer;
}


.logout-icon{
  position: absolute;
  left: 12px;
  bottom: 30px;

}


/* Social Bar */

.social-bar1{
  width: 20%;
  height: 40px;
  background-color: #B8C5D3;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 15px;

}

.social-bar2{
  width: 30%;
  height: 40px;
  background-color: #65798C;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 60px;
}
